<div class='top-wrapper'>
  <div class="flex flex-wrap mx-auto mb-10 h-4/5 w-2/3">
    <%= image_tag 'illustration.png', class: 'w-full md:w-1/2' %>
    <%= image_tag 'catch_copy.png', class: 'w-full md:w-1/2' %>
  </div>
  <%= render partial: 'shared/footer' %>
</div>
