<h2 class="text-2xl font-bold text-center p-8 md:p-12 border-t border-stone-300">コメント一覧</h2>
<div class="flex mx-auto items-start justify-start m-4 max-w-lg">
  <%= render "comments/comment" %>
</div>
