<div class="chat chat-start">
  <div class="chat-image avatar">
    <div class="w-10 rounded-full">
      <%= image_tag "default_avatar.png" %>
    </div>
  </div>
  <div class="chat-header">
    comment.user.username
    <time class="text-xs opacity-50">yyyy/mm/dd</time>
  </div>
  <div class="chat-bubble chat-bubble-secondary">comment.body</div>
</div>
