<% if false %>
  <% if notice %>
    <div class="flex items-center justify-center">
      <div class="alert alert-success text-white shadow-lg w-1/2">
        <span><%= notice %></span>
      </div>
    </div>
  <% end %>
<% end %>
