<div class="navbar bg-accent text-accent-content">
  <div class="navbar-start">
    <%= link_to "一汁", "#", class: "btn btn-ghost normal-case text-xl rounded-full" %>
  </div>
  <div class="navbar-end">
    <%= link_to "ログイン", "#", class: "btn btn-ghost normal-case rounded-full" %>
    <%= link_to "新規登録", "#", class: "btn btn-ghost normal-case rounded-full" %>
  </div>
</div>
