<div class="btm-nav">
  <button class="text-accent-content hover:bg-accent active:bg-accent-focus rounded-full">
    <%= link_to "#" do %>
      <i class="fa-solid fa-house-chimney"></i>
    <% end %>
    <span class="btm-nav-label">ホーム</span>
  </button>
  <button class="text-accent-content hover:bg-accent active:bg-accent-focus rounded-full">
    <%= link_to "#" do %>
      <i class="fa-solid fa-camera"></i>
    <% end %>
    <span class="btm-nav-label">投稿</span>
  </button>
  <button class="text-accent-content hover:bg-accent active:bg-accent-focus rounded-full">
    <%= link_to "#" do %>
      <i class="fa-solid fa-calendar-days"></i>
    <% end %>
    <span class="btm-nav-label">マイページ</span>
  </button>
</div>
