<footer class="footer footer-center p-10 mb-10 bg-base-100 rounded">
  <div class="flex flex-col items-center bg-base-100">
    <div class="grid grid-flow-col gap-20 text-base-content">
      <%= link_to "利用規約", "#", class: "btn btn-ghost rounded-full" %>
      <%= link_to "プライバシーポリシー", "#", class: "btn btn-ghost rounded-full" %>
      <%= link_to "お問い合わせ", "#", class: "btn btn-ghost rounded-full" %>
    </div>
    <div>
      <div class="text-base-content text-sm text-center py-8">
        Copyright © 2022
      </div>
    </div>
  </div>
</footer>
