<footer class="footer footer-center p-10 bg-base-100 rounded">
  <div class="flex flex-col items-center bg-base-100">
    <div class="grid grid-flow-col gap-20 text-base-content">
      <%= link_to t('defaults.terms_of_use'), "#", class: "btn btn-ghost rounded-full" %>
      <%= link_to t('defaults.privacy_policy'), "#", class: "btn btn-ghost rounded-full" %>
      <%= link_to t('defaults.contact'), "#", class: "btn btn-ghost rounded-full" %>
    </div>
    <div>
      <div class="text-base-content text-sm text-center">
        Copyright © 2022
      </div>
    </div>
  </div>
</footer>
