<footer class="footer footer-center pt-10 bg-stone-200">
  <div class="flex justify-between items-center flex-wrap">
    <%= image_tag 'footer_logo.png', class: 'h-24 w-32' %>
  </div>
  <div class="flex flex-col items-center">
    <div>
      <p class="mb-4">© 2023 - ichiju. All rights reserved.</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-2 pb-4">
      <%= link_to t('defaults.terms_of_use'), "#", class: "btn btn-link text-azuki" %>
      <%= link_to t('defaults.privacy_policy'), "#", class: "btn btn-link text-azuki" %>
      <%= link_to t('defaults.contact'), "#", class: "btn btn-link text-azuki" %>
    </div>
  </div>
</footer>
