<% content_for(:title, t('.title')) %>
<div class="py-6 md:py-8">
  <div class="max-w-screen-xl px-6 md:px-10 mx-auto">
    <div class="mb-10 md:mb-16 text-center">
      <h2 class="text-2xl lg:text-3xl font-bold mb-4 md:mb-6"><%= t('.title') %></h2>
      <p>写真をクリックすると、その日作ったみそ汁を見ることができます</p>
      <%= month_calendar partial: 'simple_calendar/month_calendar', events: @posts do |date, posts| %>
        <%= date.to_s.slice(8, 2) %>
        <div class="m-auto lg:w-30 md:w-24 w-10 lg:h-30 md:h-24 h-10">
          <% if posts.present? %>
            <%= link_to image_tag(posts[0].image.url), search_calendar_path(date: posts[0].created_at)%>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
