<h1>マイページ<h1>
<p><%= current_user.username %></p>


<%= link_to 'おみそ・おだし登録', new_misosoup_base_path, class: "btn btn-primary" %>

<% if @misosoup_bases.present? %>
  <% @misosoup_bases.each do |misosoup_base| %>
    <p><%= misosoup_base.item_name %></p></br>
  <% end %>
<% end %>
