<div class="card-body mb-10">
  <div class="card-actions justify-center gap-20 md:gap-32">
    <%= link_to edit_post_path(@post) do %>
      <button class="btn gap-2 btn-outline btn-warning lg:btn-lg">
        <i class="fa-solid fa-pen md:fa-2x"></i>
        <%= t('defaults.edit') %>
      </button>
    <% end %>
    <%= link_to post_path(@post), data: { turbo_method: :delete, turbo_confirm: t('defaults.message.delete?', word: Post.model_name.human) } do %>
      <button class="btn gap-2 btn-outline lg:btn-lg">
        <i class="fa-solid fa-trash md:fa-2x"></i>
        <%= t('defaults.delete') %>
      </button>
    <% end %>
  </div>
</div>
