<% post.misosoup_bases.each do |misosoup_base| %>
  <div class="grid grid-cols-1 gap-4 mb-10 mx-auto">
    <div class="card bg-stone-200 p-4">
        <%= image_tag misosoup_base.item_image_urls, size: '128x128', class: 'mx-auto' %>
        <div class="card-body">
          <div class="card-title">
            <%= link_to misosoup_base.item_name, misosoup_base.item_url, class:'no-underline hover:underline' %>
          </div>
          <p>価格：<%= misosoup_base.item_price %>円</p>
        </div>
      </div>
    </div>
  </div>
<% end %>
