<div class="py-6 md:py-8">
  <div class="mb-2 text-sm font-medium" >
    <div class="relative mx-auto w-2/3 sm:w-3/4">
      <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
      <%= form_with model: search_form, url: search_posts_path, scope: :q, method: :get, local: true do |f| %>
        <%= f.search_field :title_or_content, placeholder: '今日はどんな一杯にする？', class: 'input w-full p-4 pl-10 text-sm border border-azuki rounded-lg bg-stone-50' %>
        <%= f.submit '投稿を検索する', class: 'absolute top-1 right-1 bottom-1 cursor-pointer text-stone-100 bg-primary focus:bg-primary-focus font-medium rounded-lg text-sm px-4 py-2' %>
      <% end %>
    </div>
  </div>
</div>
