<div class="bg-stone-100 p-4 m-4">
  <div class="py-6 sm:py-8 lg:py-12">
    <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
      <h2 class="text-accent-content text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-8">投稿編集</h2>
      <div class="max-w-xl border rounded-xl mx-auto mb-20">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
